.home-page{
    display: flex;
    flex-direction: row;
}

.home {
    width: 100%;
    margin: 0 30px 0 30px;
}

.home-heading{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line{
    background-color: rgb(178, 178, 178);
    height: 1px;
}

.events{
    margin-bottom: 100px;
}

.event-cards {
    display: flex;
    flex-direction: row;
    gap: 70px;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: center;
}

.search {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}