.add-new-event-page{
    display: flex;
    flex-direction: row;
}

.add-new-event {
    width: 100%;
    margin: 0 30px 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-new-event-heading{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line{
    background-color: rgb(178, 178, 178);
    height: 1px;
}

.add-new-event-whole-card{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 20px;
    display: flex;
    gap: 100px;
    margin-top: 50px;
    padding: 40px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
  
.inputField{
    width: 400px;
    height: 50px;
    font-size: 18px;
    padding: 5px;
}
  
  
.form-field{
    display: flex;
    flex-direction: column;
}

label{
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 5px;
}

.add-event-button{
    height: 50px;
    background-color: rgb(69, 66, 66);
    color: white;
    font-size: 20px;
    font-weight: bolder;
}
  

@media only screen and (max-width: 700px) {
    .inputField {
        width: 100%;
        height: 45px;
    }
}

