.site-page-header {
    border: 1px solid rgb(235, 237, 240);
}

.signup-page {
    display: flex;
    flex-direction: column;
}

.signup-form {
    align-self: center;
    margin-top: 50px;
    margin-right: 200px;
    width: 50%;
}


@media only screen and (max-width: 700px) {
    .signup-form{
        width: 80%;
        margin-right: 0;
    }
}